/*--------------------------------------*/
/*---------------LAYOUT-----------------*/
/*--------------------------------------*/
.full-height {
  min-height: 100vh;

}

/*--------------------------------------*/
/*---------------Astronaut--------------*/
/*--------------------------------------*/

.astronaut {
  background-image: url('/style/images/astronaut.jpeg');
  background-size: cover;
  background-position: 50% 50%;

}

.astronaut .boxen {
  border: 4px solid black;
  position: absolute;
  font-family: 'Rubik', sans-serif;
  width: 50%;
  background-color: rgba(255, 255, 255, 0.7);
  top: 80px;
  left: 40px;
  padding: 20px;
 
}

.astronaut .boxen .text {
  text-align: center;
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: 500;
  margin-bottom: 30px;

}

/*--------------------------------------*/
/*--------------- DESKTOP --------------*/
/*--------------------------------------*/

@media screen and (min-width: 800px) {
  .astronaut .boxen {
    width: 15rem;
  }

  .astronaut .boxen .link {
    text-align: right;
  }

  .astronaut .boxen .link span {
    position: relative;
    transition: left 0.5s cubic-bezier(0.65, 0, 0.35, 1);
    left: 0;
  }

  .astronaut .boxen .link:hover span {
    left: 10px;
  }
}

/*--------------------------------------*/
/*--------------- Stars ----------------*/
/*--------------------------------------*/


.text-page {
  background: rgba(0, 0, 0, 0.7) url('/style/images/Stars.jpeg');
  background-size: cover;
  background-blend-mode: darken;
  position: relative;
  overflow: hidden;
  background-position: 50% 50%;
  min-height: 100vh;

}

.brown {
  margin-bottom: -130px;

}



.space-ventures {
  h2 {
    span:first-of-type {
      display: block;
      position: relative;
      font-family: 'rubik';
      color: white;
      z-index: 1;
      left: 40px;
      font-size: 4rem;
     
    }

    span:nth-of-type(2) {
      position: relative;
      font-family: 'Times New Roman', Times, serif;
      color: gray;
      top: -52px;
      left: 48px;
      z-index: 0;
      font-size: 5rem;
      

    }
  }
}


.purple {
  h2 {
    font-weight: bolder;
    font-size: 29px;
  }

  position: relative;
  color: white;
  font-family: 'rubik';
  font-weight: lighter;
  padding: 20px;
  line-height: 19px;
  font-size:14px;
  top: -25px;
  left: 0px;

}

.yellow {
  color: white;
  position: relative;
  font-family: 'Rubik';
  font-style: italic;
  font-weight: lighter;
  padding: 10px;
  bottom: 100px;
  font-size: 20px;
  padding-bottom: 0px;

  padding-top: 50px;
  left: 25px;

}


.gradient-quote {
  color: #fa08de;
  background-image: -webkit-linear-gradient(45deg, #cc1db8 0%, #e8ea63 100%);
  background-clip: text;
  -webkit-background-clip: text;
  text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
  display: none;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bolder;
  text-align: left;
  font-size: 4rem;
  opacity: 0.3;
  padding: 60px;
  padding-left: 100px;
  padding-right: 100px;
 
}

.blue {

  color: white;
  font-family: 'rubik';
  font-weight: lighter;
  text-align: left;
  padding-right: 70px;
  padding-left: 70px;
  font-size: 14px;
  padding: 20px;
  line-height: 22px;

}

.Major {
  display: none;

}

.cookie {
  display: none;

}

.red-tom {
  text-decoration: underline;
  color: rgb(206, 36, 84);
  
}

.accept {
  display: none;

}


@media screen and (min-width: 600px) {
  .text-page {
    display: flex;
    gap: 100px;
  }

  .brown,
  .grey {
    width: 50%;
  }

  .space-ventures
    h2 {
      span:first-of-type {
        display: block;
        position: relative;
        font-family: 'rubik';
        color: white;
        z-index: 1;
        left: 50px;
        font-size: 90px;
       
      }
  
      span:nth-of-type(2) {
        position: relative;
        font-family: 'Times New Roman', Times, serif;
        color: gray;
        top: -52px;
        left: 58px;
        z-index: 0;
        font-size: 110px;
        
  
      }
    }

  .yellow {
    font-size: 30px;
    left: 70px;
  }

  .purple {
    left: 15px;
  }

  .gradient-quote {
    color: #fa08de;
    background-image: -webkit-linear-gradient(45deg, #cc1db8 0%, #e8ea63 100%);
    background-clip: text;
    -webkit-background-clip: text;
    text-fill-color: transparent;
    -webkit-text-fill-color: transparent;
    display: block;
    font-weight: lighter;
    text-align: left;
    font-family: 'rubik';
    font-style: italic;
    position: relative;
    opacity: 0.3;
    padding: 60px;
    padding-left: 70px;
    padding-right: 100px;
    padding-top: 10px;
    font-size: 45px;
    top: 30px;
  }

  .Major {
    display: block;
    height: auto;
    float: right;
    width: 100px;
    transform: rotate(3deg);
    padding-left: 50px;
    margin-right: 207px;
  }

  .cookie {
    display: block;
    position: fixed;
    font-family: 'rubik';
    font-weight: bold;
    bottom: 0px;
    color: rgb(206, 36, 84);
    width: 100%;
    height: 40px;
    padding-top: 20px;
    padding-left: 25px;
    background-color: rgb(3, 3, 49);
    z-index: 2;
    

  }

  .red-tom {
    text-decoration: underline;
    color: rgb(206, 36, 84);
   
  }

  .accept {
    display: block;
    position: fixed;
    bottom: 10px;
    width: 6%;
    height: 4.5%;
    z-index: 2;
    right: 45px;

  }

  .accept-text {
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-weight: bolder;
    font-size: medium;
    font-family: 'rubik';
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: rgb(11, 11, 93);
  }

}

/*--------------------------------------*/
/*--------------- Button----------------*/
/*--------------------------------------*/

button {
  background: transparent;
  pointer-events: none;
  position: fixed;
  width: 35px;
  height: 35px;
  border: 0;
  right: 20px;
  top: 20px;
  z-index: 2;
 
}

button span {
  display: block;
  background-color: black;
  width: 25px;
  height: 3px;
  border-radius: 6px;
  margin-bottom: 4px;

}

input {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 1;
  width: 35px;
  height: 35px;
  opacity: 0;

}

input:checked+.menu Button span {
  position: absolute;
  transition: all 0.3s ease-in-out;

}


input:checked+.menu button span:nth-child(2) {
  opacity: 0;

}

input:checked+.menu button span:nth-child(1) {
  transform: rotate(45deg)

}

input:checked+.menu button span:nth-child(3) {
  transform: rotate(-45deg);

}

nav {
  position: fixed;
  visibility: hidden;
  background-color: transparent;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  transition: opacity 5s cubic-bezier(0.075, 0.82, 0.165, 1);
  
}

input:checked+.menu nav {
  visibility: visible;
  background-color: aliceblue;
  font-family: 'rubik', sans-serif;
  font-weight: bolder;
  font-size: xx-large;
  opacity: 0.6;

}


ul {
  justify-content: space-evenly;
  text-align: center;
  list-style: none;
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  padding: 0;
 

 
}

li:hover {
  text-decoration: underline;
  text-decoration-thickness: 4.5px;
  text-decoration-color: 	rgb(255, 95, 122);

}
